<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

<body>
    <img class="background" src=".../public/images/site/small_check.jpg" alt="Checkerboard pattern.">
    <div id="wrapper">
        <%- include("../partials/header") %>
        <%- include("../partials/navigation") %>

        <main>
            <%- body %>
        </main>
        <%- include("../partials/footer") %>

    </div>

</body>
</html>